<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>#springMessageText("**message.error.404**" "**message.error.404**")</title>
	</head>
<body>
	
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="error-template">
                    <h2> #springMessageText("**message.error.404**" "**message.error.404**") </h2>
                    <div class="error-details">
                        #springMessageText("**message.error.page_not_found**" "**message.error.page_not_found**")
                    </div>
                </div>
            </div>
        </div>
    </div>
		
</body>
</html>