<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="home">#springMessageText("**message.f1manager**" "**message.f1manager**")</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
		<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">#springMessageText("**message.teams**" "**message.teams**")<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="teams">#springMessageText("**message.admin.list_teams**" "**message.admin.list_teams**")</a></li>
            <li><a href="newTeam">#springMessageText("**message.admin.new_team**" "**message.admin.new_team**")</a></li>
          </ul>
        </li>
		<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">#springMessageText("**message.drivers**" "**message.drivers**")<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="drivers">#springMessageText("**message.admin.list_drivers**" "**message.admin.list_drivers**")</a></li>
            <li><a href="newDriver">#springMessageText("**message.admin.new_driver**" "**message.admin.new_driver**")</a></li>
          </ul>
        </li>
		<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">#springMessageText("**message.tracks**" "**message.tracks**") <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="tracks">#springMessageText("**message.admin.list_tracks**" "**message.admin.list_tracks**")</a></li>
            <li><a href="newTrack">#springMessageText("**message.admin.new_track**" "**message.admin.new_track**")</a></li>
          </ul>
        </li>
		<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">#springMessageText("**message.championships**" "**message.championships**")<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="championships">#springMessageText("**message.admin.list_championships**" "**message.admin.list_championships**")</a></li>
            <li><a href="newChampionship">#springMessageText("**message.admin.new_championship**" "**message.admin.new_championship**")</a></li>
          </ul>
        </li>
		<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">#springMessageText("**message.races**" "**message.races**")<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="races">#springMessageText("**message.admin.list_races**" "**message.admin.list_races**")</a></li>
            <li><a href="newRace">#springMessageText("**message.admin.new_race**" "**message.admin.new_race**")</a></li>
          </ul>
        </li>
		<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">#springMessageText("**message.results**" "**message.results**")<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="newRaceResult">#springMessageText("**message.admin.new_result**" "**message.admin.new_result**")</a></li>
            <li><a href="resultPoints">#springMessageText("**message.admin.set_points**" "**message.admin.set_points**")</a></li>
          </ul>
        </li>
      </ul>
	  <ul class="nav navbar-nav">
        <li><a href="excelFiles">#springMessageText("**message.admin.excel**" "**message.admin.excel**")</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#springUrl("/j_spring_security_logout")"> #springMessageText("**message.logout**" "**message.logout**")</a></li>
      </ul>
    </div>
  </div>
</nav>

