<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="home">F1 Manager</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="registration">Regisztráció</a></li>
		<li><a href="loginPage">Bejelentkezés</a></li>
		<li><a href="myTeam">csapatom</a></li>
		<li><a href="allLeagues">ligak</a></li>
		<li><a href="users&page=0">tabella</a></li>
		<li><a href="drivers">pilotak</a></li>
		<li><a href="teams">csapatok</a></li>
		<li><a href="rules">szabalyzat</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="logout">Kijelentkezés</a></li>
      </ul>
    </div>
  </div>
</nav>

   #if($successLogin)
		<p>Sikeres bejelentkezés!</p>
	#end
	
	#if($accountActivated)
		<p>Az accountod sikeresen aktiváltad!</p>
	#end
	
	#if($firstLogin)
		<p>Előbb jelentkezz be!</p>
	#end