<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>#springMessageText("**message.drivers**" "**message.drivers**")</title>
	</head>
<body>

#parse("./admin/includes/menu.vm")

<div class="container table-responsive">
	
	<table class="table table-striped table-hover">
		<thead>
		  <tr>
			<th>#springMessageText("**message.admin.driver.name**" "**message.admin.driver.name**")</th>
			<th>#springMessageText("**message.admin.edit**" "**message.admin.edit**")</th>
		  </tr>
		</thead>
		<tbody>
			#foreach($driver in $drivers)
			  <tr>
				<td>$driver.name</td>
				<td><a href="modifyDriver&id=$driver.id">#springMessageText("**message.admin.edit**" "**message.admin.edit**")</a></td>
			  </tr>
			 #end
		 </tbody>
	</table>
	
</div>

</body>
</html>
