<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>pilotak</title>
	</head>
<body>

#parse("./admin/includes/menu.vm")

<div class="container">
	
	<table class="table table-striped table-hover table-responsive">
		<thead>
		  <tr>
			<th>Pilóta neve</th>
			<th>Szerkeszt</th>
			<th>Töröl</th>
		  </tr>
		</thead>
		<tbody>
			#foreach($driver in $drivers)
			  <tr>
				<td>$driver.name</td>
				<td><a href="modifyDriver&id=$driver.id">szerkeszt</a></td>
				<td>torol</td>
			  </tr>
			 #end
		 </tbody>
	</table>
	
</div>

</body>
</html>
