<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>#springMessageText("**message.admin.excel**" "**message.admin.excel**")</title>
		<link rel="stylesheet" type="text/css" href=".././resources/css/excelButton.css"/>
	</head>
<body>

#parse("./admin/includes/menu.vm")

<div class="container">
	
	#if($notSupportedType)
    		<div class="alert alert-danger" role="alert">#springMessageText("**message.admin.excel.not_xlsx**" "**message.admin.excel.not_xlsx**") </div>
	#end
	
	#if($successUpload)
    		<div class="alert alert-success" role="alert">#springMessageText("**message.admin.excel.success_upload**" "**message.admin.excel.success_upload**")</div>
	#end
	
	#foreach($error in $errors)
		<div class="alert alert-danger" role="alert">#springMessageText("**message.admin.excel.row**" "**message.admin.excel.row**"): $error.row <br>
				                                     #springMessageText("**message.admin.excel.field**" "**message.admin.excel.field**"): $error.field <br>
													 #springMessageText("**message.admin.excel.fieldError**" "**message.admin.excel.fieldError**"): $error.errorMessage </div>
		 <br>
	#end
	
	
	
	<div>
		<form action="uploadExcelTeam" method="post" enctype="multipart/form-data">
			<input class="custom-file-input" type="file" name="file"> </input><br>
			  <button type="submit" class="btn btn-primary">#springMessageText("**message.admin.excel.upload**" "**message.admin.excel.upload**")</button>
        </form>
	</div>

	<div>
		<form action="downloadExcelTemplateTeam" method="post">
             <button type="submit" class="btn btn-primary">#springMessageText("**message.admin.excel.download_team_template**" "**message.admin.excel.download_team_template**")</button>
        </form>
	</div>
	
	<div>
		<form action="downloadExcelTemplateWithTeams" method="post">
              <button type="submit" class="btn btn-primary">#springMessageText("**message.admin.excel.download_teams**" "**message.admin.excel.download_teams**")</button>
        </form>
	</div>

	
</div>

</body>
</html>
