<html>
	<head>
		<title>menu</title>
	</head>
<body>


        <a href="teams">csapat</a><br>
        <a href="drivers">pilota</a><br>
        <a href="tracks">palya</a><br>
        <a href="races">futam</a><br>
        <a href="championships">bajnoksag</a><br>
        <a href="results">vegeredmeny</a><br>
        <a href="users">felhasznalok</a><br>
        <a href="csv">csv</a><br>
        <br><br>
        <a href="newTeam">uj csapat</a><br>
        <a href="newDriver">uj pilota</a><br>
        <a href="newTrack">uj palya</a><br>
        <a href="newRace">uj futam</a><br>
        <a href="newChampionship">uj bajnoksag</a><br>
        <a href="newResultQualifying">uj idomero vegeredmeny</a><br>
		<a href="newResultRace">uj verseny vegeredmeny</a><br>
			
</body>
</html>
