<html>
	<head>
		<title>menu</title>
	</head>
<body>


        <a href="teams">csapatok</a><br>
        <a href="drivers">pilotak</a><br>
        <a href="tracks">palyak</a><br>
        <a href="races">futamok</a><br>
        <a href="championships">bajnoksagok</a><br>
        <a href="users">felhasznalok</a><br>
        <a href="csv">csv</a><br>
        <br><br>
        <a href="newTeam">uj csapat</a><br>
        <a href="newDriver">uj pilota</a><br>
        <a href="newTrack">uj palya</a><br>
        <a href="newRace">uj futam</a><br>
        <a href="newChampionship">uj bajnoksag</a><br>
        <a href="newRaceResult">uj vegeredmeny</a><br>
			
</body>
</html>
