<html>
    <head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title></title>
    </head>
<body>

#parse("./admin/includes/menu.vm")

	<div class="container">
		
		#if($existChampionship)
    		<div class="alert alert-danger" role="alert">Ebben az evben mar van vb! </div>
    	#end
		
		
		<form action="saveChampionship" method="post">
				<input style="display: none;" type="text" name="id" value="$!championship.id"></input>
			  <div class="form-group">
				<label>Év</label>
    				#set($start = 2012)
                    #set($end = 2020)
                    #set($range = [$start..$end])
					#springBind("championship.year")
					<select class="form-control" name="year">
						#foreach($i in $range)
							#if($championship.year == $i)
								<option selected>$i</option>
							#else
								<option>$i</option>
							#end
						#end
					</select>
					#foreach($error in $status.errorMessages)<div class="alert alert-danger" role="alert"> $error </div> #end
			  </div>
			  
			  
			  
			  <button type="submit" class="btn btn-primary">Submit</button>
			</form>

		
	</div>
</body>
</html>
