<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title></title>
	</head>
<body>

#parse("./admin/includes/menu.vm")

	<div class="container">

		<form action="saveDriver" method="post">
			<input style="display: none;" type="text" name="id" value="$!driver.id"></input>
		  <div class="form-group">
			<label>Név</label>
				#springBind("driver.name")
				<input type="text" class="form-control" name="name" value="$!driver.name" placeholder="Add meg a nevet!"> #if($existingUser)<div class="alert alert-danger" role="alert"> A usernév már foglalt!</div>#end
				#foreach($error in $status.errorMessages)<div class="alert alert-danger" role="alert"> $error </div> #end
		  </div>
		  <div class="form-group">
			<label>Ár</label>
				#springBind("driver.price")
				<input type="text" class="form-control"  name="price" value="$!driver.price" placeholder="Add meg az árat!">
				#foreach($error in $status.errorMessages)<div class="alert alert-danger" role="alert"> $error </div> #end
		  </div>
		  <div class="form-group">
			<label>Kép</label>
				#springBind("driver.picture")
				<input type="text" class="form-control"  name="picture" value="$!driver.picture" placeholder="A kép url címe!">
				#foreach($error in $status.errorMessages)<div class="alert alert-danger" role="alert"> $error </div> #end
		  </div>		
		  <div class="form-group">
			<label>Csapat</label>
				#springBind("driver.team.id")
				<select class="form-control" name="team.id">
				#foreach($team in $teams)
						#springBind("driver.team.id")
						#if($!driver.team.id && $driver.team.id == $team.id)
							<option selected="selected" value="$team.id">
								$team.name
							</option>
						#else
						<option value="$team.id">$team.name</option>
						#end
				#end
				</select>

		  </div>

		  <button type="submit" class="btn btn-primary">Submit</button>
		</form>
			
	</div>

	
	
</body>
</html>
