<html>
	<head>
		<title></title>
	</head>
<body>
uj pilota form<br>

    <form action="saveDriver" method="post">
		
		<input style="display: none;" type="text" name="id" value="$!driver.id"></input>
    
     	#springBind("driver.name")
    	name<input type="text" name="name" value="$!driver.name"></input> $!existingDriver<br>
    	
    	#springBind("driver.price")
    	price<input type="text" name="price" value="$!driver.price"></input><br>
    	
    	#springBind("driver.point")
    	point<input type="text" name="point" value="$!driver.point"></input><br>
    	
		#springBind("driver.picture")
    	picture<input type="text" name="picture" value="$!driver.picture"></input><br>
		
	
		team<select name="team.id">
		#foreach($team in $teams)
				#springBind("driver.team.id")
				#if($!driver.team.id && $driver.team.name == $team.name)
					<option selected="selected">
						$driver.team.name
					</option>
				#else
				<option value="$team.id">$team.name</option>
				#end
		#end
		</select>
		<br>
			
    	<input type="submit" value="save"></input>
    </form>	
	 #springShowErrors("<br/>" "")
</body>
</html>
