<html>
    <head>
        <title></title>
    </head>
<body>

#parse("./admin/includes/menu.vm")

<div class="container">

		<form action="saveRace" method="post">
			<input style="display: none;" type="text" name="id" value="$!race.id"></input>
		  <div class="form-group">
			<label>Időpont</label>
				#springBind("race.date")
				<input type="date" class="form-control" name="date" value="$!race.date" placeholder="Add meg az időpontot!"> #if($existingRace)<div class="alert alert-danger" role="alert"> Az időpont már foglalt!</div>#end
				#foreach($error in $status.errorMessages)<div class="alert alert-danger" role="alert"> $error </div> #end
		  </div>		
		  <div class="form-group">
			<label>Bajnokság</label>
				<select name="championship.id">
					#foreach($championship in $championships)
						#springBind("race.championship.id")
						#if($!race.championship.id && $race.championship.id == $championship.id)
							<option selected="selected" value="$championship.id">
								$championship.startDate - $championship.endDate
							</option>
							#else
								<option value="$championship.id">$championship.startDate - $championship.endDate</option>
						#end
					#end
				</select>
				#foreach($error in $status.errorMessages) $error #end<br>
		  </div>
		   <div class="form-group">
			<label>Pálya</label>
				<select name="track.id">
					#foreach($track in $tracks)
						#springBind("race.track.id")
						#if($!race.track.id && $race.track.id == $track.id)
							<option selected="selected" value="$track.id">
								$track.name
							</option>
							#else
								<option value="$track.id">$track.name</option>
						#end
					#end
				</select>
				#foreach($error in $status.errorMessages) $error #end<br>
		  </div>

		  <button type="submit" class="btn btn-primary">Submit</button>
		</form>
			
	</div>
			 
</body>
</html>
