<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>#springMessageText("**message.admin.new_race_result**" "**message.admin.new_race_result**")</title>
		#parse("./favicon.vm")
	</head>
<body>

#parse("./admin/includes/menu.vm")


<div class="container">
	
#if($error)
	
	#if($needRaces)
    		<div class="alert alert-success" role="alert">
				#springMessageText("**message.admin.new_race_result.need_races**" "**message.admin.new_race_result.need_races**") 
			</div>
	#end
	
	#if($needDrivers)
    		<div class="alert alert-danger" role="alert">
				#springMessageText("**message.admin.new_race_result.need_drivers**" "**message.admin.new_race_result.need_drivers**") 
			</div>
	#end
	
	#if($sizeNotSame)
    		<div class="alert alert-danger" role="alert">
				#springMessageText("**message.admin.new_race_result.size_not_same**" "**message.admin.new_race_result.size_not_same**") 
			</div>
    #end
	
#else
	
		#if($!sameDriver)
			<div class="alert alert-danger" role="alert">#springMessageText("**message.admin.new_race_result.same_driver_in_one_column**" "**message.admin.new_race_result.same_driver_in_one_column**")</div>
		#end
		
		#if($unknownError)
			<div class="alert alert-danger" role="alert">#springMessageText("**message.admin.new_race_result.unknown_error**" "**message.admin.new_race_result.unknown_error**")</div>
		#end
	
		<form action="saveRaceResult" method="post">	
		  <div class="form-group">
			<label>#springMessageText("**message.admin.new_race_result.race**" "**message.admin.new_race_result.race**")</label>
				<select class="form-control" name="race.id">
				#foreach($race in $races)
						<option value="$race.id">$race.date</option>
				#end
				</select>
				#foreach($error in $status.errorMessages) $error #end<br>
		  </div>
		   
		  <div class="table-responsive">
    		  <table class="table table-striped table-hover">
    				<thead>
    				  <tr>
    					<th>#springMessageText("**message.admin.new_race_result.result**" "**message.admin.new_race_result.result**")</th>
    					<th>#springMessageText("**message.admin.new_race_result.qualificationResult**" "**message.admin.new_race_result.qualificationResult**")</th>
    					<th>#springMessageText("**message.admin.new_race_result.raceResult**" "**message.admin.new_race_result.raceResult**")</th>
    				  </tr>
    				</thead>
    				<tbody>
    					#foreach($d in $drivers)
    					  <tr>
    						<td>$velocityCount</td>
    						<td>
    							<select class="form-control" name="qualifyingDrivers">
    								#foreach($driver in $drivers)
    										<option value="$driver.id">$driver.name</option>
    								#end
    							</select>
    						</td>
    						<td>
    							<select class="form-control" name="raceDrivers">
    								#foreach($driver in $drivers)
    										<option value="$driver.id">$driver.name</option>
    								#end
    							</select>
    						</td>
    					  </tr>
    					 #end
    				 </tbody>
    			</table>
		  </div>
		  <button type="submit" class="btn btn-primary">#springMessageText("**message.save**" "**message.save**")</button>
		</form>
	
#end
	
	
	
</div>
	
	
	
</body>
</html>
