<html>
    <head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>#springMessageText("**message.admin.new_race**" "**message.admin.new_race**")</title>
    </head>
<body>

#parse("./admin/includes/menu.vm")

<div class="container">

		<form action="saveRace" method="post">
			<input style="display: none;" type="text" name="id" value="$!race.id"></input>
		  <div class="form-group">
			<label>#springMessageText("**message.admin.new_race.date**" "**message.admin.new_race.date**")</label>
				#springBind("race.date")
				<input type="date" class="form-control" name="date" value="$!race.date" placeholder="#springMessageText("**message.admin.new_race.ph.date**" "**message.admin.new_race.ph.date**")"> #if($existingRace)<div class="alert alert-danger" role="alert">#springMessageText("**message.admin.new_race.existing_date**" "**message.admin.new_race.existing_date**")</div>#end
				#foreach($error in $status.errorMessages)<div class="alert alert-danger" role="alert"> $error </div> #end
		  </div>		
		  <div class="form-group">
			<label>#springMessageText("**message.admin.new_race.championship**" "**message.admin.new_race.championship**")</label>
				<select class="form-control" name="championship.id">
					#foreach($championship in $championships)
						#springBind("race.championship.id")
						#if($!race.championship.id && $race.championship.id == $championship.id)
							<option selected="selected" value="$championship.id">
								$championship.year
							</option>
							#else
								<option value="$championship.id">$championship.year</option>
						#end
					#end
				</select>
				#foreach($error in $status.errorMessages) $error #end
		  </div>
		   <div class="form-group">
			<label>#springMessageText("**message.admin.new_race.track**" "**message.admin.new_race.track**")</label>
				<select class="form-control" name="track.id">
					#foreach($track in $tracks)
						#springBind("race.track.id")
						#if($!race.track.id && $race.track.id == $track.id)
							<option selected="selected" value="$track.id">
								$track.name
							</option>
							#else
								<option value="$track.id">$track.name</option>
						#end
					#end
				</select>
				#foreach($error in $status.errorMessages) $error #end
		  </div>

		  <button type="submit" class="btn btn-primary">#springMessageText("**message.save**" "**message.save**")</button>
		</form>
			
	</div>
			 
</body>
</html>
