<html>
    <head>
        <title></title>
    </head>
<body>
        uj futam form<br>
            <form action="saveRace" method="post">
               
				<input style="display: none;" type="text" name="id" value="$!race.id"></input>
               
				#springBind("race.date")
                date<input type="date" name="date" value="$!race.date"></input> $!existingRace<br>
					
				championship<select name="championship.id">
					#foreach($championship in $championships)
						#springBind("race.championship.id")
						#if($!race.championship.id && $race.championship.id == $championship.id)
							<option selected="selected" value="$championship.id">
								$championship.startDate - $championship.endDate
							</option>
							#else
								<option value="$championship.id">$championship.startDate - $championship.endDate</option>
						#end
					#end
				</select>
				<br>
					
				track<select name="track.id">
					#foreach($track in $tracks)
						#springBind("race.track.id")
						#if($!race.track.id && $race.track.id == $track.id)
							<option selected="selected" value="$track.id">
								$track.name
							</option>
							#else
								<option value="$track.id">$track.name</option>
						#end
					#end
				</select>
				<br>

                <input type="submit" value="save"></input>
			</form>
			 #springShowErrors("<br/>" "")
</body>
</html>
