<html>
	<head>
		<title></title>
	</head>
<body>
uj futam eredmeny form<br>

    <form action="saveResultRace" method="post">
		
		<input style="display: none;" type="text" name="id" value="$!resultRace.id"></input>
    
     	#springBind("resultRace.result")
    	result<input type="text" name="result" value="$!resultRace.result"></input><br>
			
		race<select name="race.id">
		#foreach($race in $races)
				#springBind("resultRace.race.id")
				#if($!resultRace.race.id && $resultRace.race.id == $race.id)
					<option selected="selected" value="$race.id">
						$race.date
					</option>
				#else
				<option value="$race.id">$race.date</option>
				#end
		#end
		</select>
		<br>
			
		driver<select name="driver.id">
		#foreach($driver in $drivers)
				#springBind("resultRace.driver.id")
				#if($!resultRace.driver.id && $resultRace.driver.id == $driver.id)
					<option selected="selected" value="$driver.id">
						$driver.name
					</option>
				#else
				<option value="$driver.id">$driver.name</option>
				#end
		#end
		</select>
		<br>

    	<input type="submit" value="save"></input>
    </form>	
	 #springShowErrors("<br/>" "")
</body>
</html>
