<html>
	<head>
		<title></title>
	</head>
<body>
uj team form<br>


    <form action="saveTeam" method="post">
		
		<input style="display: none;" type="text" name="id" value="$!team.id"></input>
    
     	#springBind("team.name")
    	name<input type="text" name="name" value="$!team.name"></input> $!existingTeam<br>
    	
    	#springBind("team.price")
    	price<input type="text" name="price" value="$!team.price"></input><br>
    	
    	#springBind("team.point")
    	point<input type="text" name="point" value="$!team.point"></input><br>
    	
		#springBind("team.picture")
    	picture<input type="text" name="picture" value="$!team.picture"></input><br>
    	
		<input type="submit" value="save"></input>
    </form>	
	 #springShowErrors("<br/>" "")
</body>
</html>
