<html>
	<head>
		<title></title>
	</head>
<body>
uj palya form<br>


    <form action="saveTrack" method="post">
    
     	#springBind("track.name")
    	name<input type="text" name="name" value="$!track.name"></input> $!existingTrack<br>
    	
    	#springBind("track.country")
    	country<input type="text" name="country" value="$!track.country"></input><br>
    	
		#springBind("track.city")
    	city<input type="text" name="city" value="$!track.city"></input><br>
    	
    	picture<input type="text" name="picture" value="$!track.picture"></input><br>
    	<input type="submit" value="save"></input>
    	 #springShowErrors("<br/>" "")
    </form>	
</body>
</html>