<html>
	<head>
		<title>versenyek</title>
	</head>
<body>
	
	#foreach($race in $races)
		$race.date - <a href="modifyRace&id=$race.id">szerkeszt</a>
		#if($race.resultSet) - <a href="resultRace&id=$race.id">eredmeny</a>#end
		- torol <br>
	#end
</body>
</html>
