<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>#springMessageText("**message.admin.races**" "**message.admin.races**")</title>
		#parse("./favicon.vm")
	</head>
<body>

#parse("./admin/includes/menu.vm")

<div class="container">
	
	#if($successResult)
        		
				<div class="container">
						<div class="alert alert-success" role="alert">#springMessageText("**message.admin.races.success_result**" "**message.admin.races.success_result**")</div>
				</div>
	#end
	<div class="table-responsive">
		<table class="table table-striped table-hover">
    		<thead>
    		  <tr>
    			<th>#springMessageText("**message.admin.races.date**" "**message.admin.races.date**")</th>
    			<th>#springMessageText("**message.admin.races.location**" "**message.admin.races.location**")</th>
    			<th>#springMessageText("**message.admin.races.status**" "**message.admin.races.status**")</th>
    			<th>#springMessageText("**message.admin.races.result**" "**message.admin.races.result**")</th>
    		  </tr>
    		</thead>
    		<tbody>
    			#foreach($race in $races)
    			  <tr>
    				<td>$race.date</td>
    				<td>$race.track.name</td>
    				<td>#if($race.resultSet)#springMessageText("**message.admin.races.its_over**" "**message.admin.races.its_over**") #else <a href="modifyRace&id=$race.id">#springMessageText("**message.admin.edit**" "**message.admin.edit**") </a>#end</td>
    				<td>#if($race.resultSet) <a href="resultRace&id=$race.id">#springMessageText("**message.admin.races.result**" "**message.admin.races.result**") #else #springMessageText("**message.admin.races.no_result**" "**message.admin.races.no_result**") #end</a></td>
    			  </tr>
    			 #end
    		 </tbody>
		</table>
	</div>
	
	
	
</div>

</body>
</html>
