<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>#springMessageText("**message.admin.result_points**" "**message.admin.result_points**")</title>
		<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
		<script type="text/javascript"  src=".././resources/js/addRowToResultPoints.js"></script>
	</head>
<body>

#parse("./admin/includes/menu.vm")

<div class="container table-responsive">
	 <form action="saveResultPoints" method="post">
			<table id="myTable" class="table table-striped table-hover">
				<thead>
				  <tr>
					<th>#springMessageText("**message.admin.result_points.result**" "**message.admin.result_points.result**")</th>
					<th>#springMessageText("**message.admin.result_points.driver_race**" "**message.admin.result_points.driver_race**")</th>
					<th>#springMessageText("**message.admin.result_points.driver_qualification**" "**message.admin.result_points.driver_qualification**")</th>
					<th>#springMessageText("**message.admin.result_points.team_race**" "**message.admin.result_points.team_race**")</th>
					<th>#springMessageText("**message.admin.result_points.team_qualification**" "**message.admin.result_points.team_qualification**")</th>
					<th>#springMessageText("**message.admin.result_points.rate**" "**message.admin.result_points.rate**")</th>
				  </tr>
				</thead>
				<tbody>
					#foreach($point in $points)
					  <tr class="row$!point.id">
						<td style="display:none;"><input type="text" name="ids" value="$!point.id"></input></td>
						<td><input class="form-control" type="text" name="results" value="$!point.result"></input></td>
						<td><input class="form-control" type="text" name="driverRacePoints" value="$!point.driverRacePoint"></input></td>
						<td><input class="form-control" type="text" name="driverQualificationPoints" value="$!point.driverQualificationPoint"></input></td>
						<td><input class="form-control" type="text" name="teamRacePoints" value="$!point.teamRacePoint"></input></td>	
						<td><input class="form-control" type="text" name="teamQualificationPoints" value="$!point.teamQualificationPoint"></input></td>
						<td><input class="form-control" type="text" name="rates" value="$!point.rate"></input></td>	
						<td><button type="button" onclick="setResultPointId($!point.id)" data-toggle="modal" data-target="#confirmModal" class="btn btn-danger glyphicon glyphicon-trash"></button></td>
					  </tr>
					 #end
				 </tbody>
			</table>
			<input class="btn btn-default" id="addRow" type="button" value="#springMessageText("**message.admin.result_points.add_row**" "**message.admin.result_points.add_row**")" /><br><br>
		 <button type="submit" class="btn btn-primary">#springMessageText("**message.save**" "**message.save**")</button>
    </form>	
</div>

#parse("./admin/includes/confirmModelDeleteResultPoint.vm")

</body>
</html>
