<html>
	<head>
		<title>teamkereso</title>
	</head>
<body>

#parse("./admin/includes/menu.vm")

<div class="container">
	
	<table class="table table-striped table-hover table-responsive">
		<thead>
		  <tr>
			<th>Csapat neve</th>
			<th>Szerkeszt</th>
			<th>Töröl</th>
		  </tr>
		</thead>
		<tbody>
			#foreach($team in $teams)
			  <tr>
				<td>$team.name</td>
				<td><a href="modifyTeam&id=$team.id">szerkeszt</a></td>
				<td>torol</td>	
			  </tr>
			 #end
		 </tbody>
	</table>
	
</div>

</body>
</html>
