<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>#springMessageText("**message.game.activate**" "**message.game.activate**")</title>
		<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
		<script type="text/javascript"  src="./resources/js/activateAccount.js"></script>
	</head>
<body>

#parse("./game/includes/menu.vm")

<div class="container">

	<h3>#springMessageText("**message.game.activate**" "**message.game.activate**")</h3>
	
	
    <form action="activateAccount" method="post">

    	<input id="userId" style="display:none;" type="text" name="id" value="$!userId"></input>
		#springMessageText("**message.game.activate.code**" "**message.game.activate.code**"):<input type="text" name="activationCode"></input><br>
			
		<button type="submit" class="btn btn-primary">#springMessageText("**message.save**" "**message.save**")</button>
    </form>	
	
	<div id="activateFailDiv">
    	#if($activateFail)
    		<div class="alert alert-danger" role="alert">#springMessageText("**message.game.activate.wrong_code**" "**message.game.activate.wrong_code**")</div>
    	#end
	</div>
	
	<div>
		<button class="btn btn-primary" onclick="sendEmail()">#springMessageText("**message.game.activate.new_code**" "**message.game.activate.new_code**")</button>
		<p></p>
	</div>
    
	
	<div  class="alert alert-info" role="alert" id="emailProcessing" style="display:none;">
		#springMessageText("**message.game.activate.email.processing**" "**message.game.activate.email.processing**")
	</div>
	<div  class="alert alert-success" role="alert" id="emailSentOut" style="display:none;">
		#springMessageText("**message.game.activate.email.sent_out**" "**message.game.activate.email.sent_out**")
	</div>
	<div class="alert alert-danger" role="alert" id="emailFail" style="display:none;">
		#springMessageText("**message.game.activate.email.fail**" "**message.game.activate.email.fail**")
	</div>
	
</div>

</body>
</html>