<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title></title>
	</head>
<body>

#parse("./game/includes/menu.vm")

<div class="container">

	<h3>Account aktivalas</h3>
	
	
    <form action="activateAccount" method="post">

    	<input id="userId" style="display:none;" type="text" name="id" value="$!userId"></input>
		activation code<input type="text" name="activationCode"></input><br>
			
		<button type="submit" class="btn btn-primary">Submit</button>
    </form>	
	
	
	<div id="activateFailDiv">
    	#if($activateFail)
    		<div class="alert alert-danger" role="alert"> Rossz az aktiváló kód </div>
    		<button class="btn btn-primary" onclick="sendEmail()">Új aktiváló kód igénylése</button>
    	#end
	</div>
	<div  class="alert alert-info" role="alert" id="emailProcessing" style="display:none;">
		email kuldes folyamatban par mp
	</div>
	<div  class="alert alert-success" role="alert" id="emailSentOut" style="display:none;">
		email kikuldve
	</div>
	<div class="alert alert-danger" role="alert" id="emailFail" style="display:none;">
		email kuldes sikertelen
	</div>
	
</div>

</body>
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script>
	function sendEmail(){
	
		$( "#activateFailDiv" ).hide();
		$( "#emailProcessing" ).show();
		
	
		var json = {"id": $( "#userId" ).val()};
	
		$.ajax({
		type: "POST",
		dataType: "json",
		data: JSON.stringify(json),
		url : "sendNewActivationCode",
		contentType: 'application/json',
	    mimeType: 'application/json',
	    
		success : function(data) {
			if(data) {
				$( "#emailProcessing" ).hide();
				$( "#emailSentOut" ).show();
			}
			else{
				$( "#emailProcessing" ).hide();
				$( "#emailFail" ).show();
			}
		},
		error: function(data){
			$( "#emailProcessing" ).hide();
			$( "#emailFail" ).show();
		}
	});
	}
</script>
</html>