<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>	
		#parse("./game/includes/favicon.vm")
		<title>#springMessageText("**message.game.buy_driver**" "**message.game.buy_driver**")</title>
	</head>
<body>

#parse("./game/includes/menu.vm")

#parse("./game/includes/userStatistics.vm")

	
	
	
	
    <div class="container">
		
			
    	#if($alreadyHaveThisDriver)
    		<div class="alert alert-danger" role="alert">#springMessageText("**message.game.buy_driver.same_driver**" "**message.game.buy_driver.same_driver**") </div>
    	#end
    	
    	#if($driverInSameTeam)
    		<div class="alert alert-danger" role="alert">#springMessageText("**message.game.buy_driver.same_team**" "**message.game.buy_driver.same_team**") </div>
    	#end
    	
    	#if($notEnoughMoney)
    		<div class="alert alert-danger" role="alert">#springMessageText("**message.game.buy_driver.not_enough_money**" "**message.game.buy_driver.not_enough_money**")  </div>
    	#end
    	
    	<table class="table table-striped table-hover table-responsive">
    		<thead>
    		  <tr>
    			<th>#springMessageText("**message.game.buy_driver.name**" "**message.game.buy_driver.name**")</th>
    			<th>#springMessageText("**message.game.buy_driver.point**" "**message.game.buy_driver.point**")</th>
    			<th>#springMessageText("**message.game.buy_driver.price**" "**message.game.buy_driver.price**")</th>
				<th>#springMessageText("**message.game.buy_driver.buy**" "**message.game.buy_driver.buy**")</th>
    		  </tr>
    		</thead>
    		<tbody>
    			#foreach($driver in $drivers)
    			  <tr>
    				<td>$driver.name</td>
    				<td>$driver.point</td>
    				<td>$driver.price</td>
					#if($driver.price <= $user.actualMoney)
						<td><a href="buyDriver&id=$driver.id&pos=$position">#springMessageText("**message.game.buy_driver.buy2**" "**message.game.buy_driver.buy2**")</a></td>
					#else
						<td>#springMessageText("**message.game.buy_driver.not_enough_money**" "**message.game.buy_driver.not_enough_money**")</td>
					#end
    			  </tr>
    			 #end
    		 </tbody>
    	</table>
    	
    </div>
	
</body>
</html>