<html>
	<head>
		<title></title>
	</head>
<body>
#parse("./game/includes/userStatistics.vm")
	
	<p>
		$!alreadyHaveThisDriver
		$!driverInSameTeam
		$!notEnoughMoney
	</p>
	
	
	
	<p>Pilotak</p>
	#foreach($driver in $drivers)
		$driver.name - $driver.price -  
		#if($driver.price <= $user.actualMoney)
			<a href="buyDriver&id=$driver.id&pos=$position">megvesz</a>
		#end
		<br>
	#end
	
</body>
</html>