<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title></title>
	</head>
<body>

#parse("./game/includes/menu.vm")

#parse("./game/includes/userStatistics.vm")



	<div class="container">
		
		#if($alreadyHaveThisTeam)
    		<div class="alert alert-danger" role="alert">Már megvan ez a csapat!</div>
    	#end
    	
    	#if($notEnoughMoney)
    		<div class="alert alert-danger" role="alert">Nincs elég pénzed rá!</div>
    	#end
    	
    	<table class="table table-striped table-hover table-responsive">
    		<thead>
    		  <tr>
    			<th>Név</th>
    			<th>Pontok</th>
    			<th>Ár</th>
				<th>Vásárlás</th>
    		  </tr>
    		</thead>
    		<tbody>
    			#foreach($team in $teams)
    			  <tr>
    				<td>$team.name</td>
    				<td>$team.point</td>
    				<td>$team.price</td>
					#if($team.price <= $user.actualMoney)
						<td><a href="buyTeam&id=$team.id&pos=$position">megvesz</a></td>
					#else
						<td>nincs elég pénzed</td>
					#end
    			  </tr>
    			 #end
    		 </tbody>
    	</table>
    	
    </div>
	
	
	

	
</body>
</html>