<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title></title>
	</head>
<body>

#parse("./game/includes/menu.vm")

#parse("./game/includes/userStatistics.vm")
	
	#if($alreadyHaveThisTeam)
		<p>Már megvan ez a csapat!</p>
	#end
	
	#if($notEnoughMoney)
		<p>Nincs elég pénzed rá!</p>
	#end
	
	

	<p>Csapatok</p>
	
	#foreach($team in $teams)
		$team.name - $team.price - 
		#if($team.price <= $user.actualMoney)
			<a href="buyTeam&id=$team.id&pos=$position">megvesz</a>
		#end
		<br>
	#end
	
</body>
</html>