<html>
	<head>
		<title></title>
	</head>
<body>
#parse("./game/includes/userStatistics.vm")
	
	<p>
		$!alreadyHaveThisTeam
		$!notEnoughMoney
	</p>

	<p>Csapatok</p>
	
	#foreach($team in $teams)
		$team.name - $team.price - 
		#if($team.price <= $user.actualMoney)
			<a href="buyTeam&id=$team.id&pos=$position">megvesz</a>
		#end
		<br>
	#end
	
</body>
</html>