<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>
			Liga letrehozasa
        </title>
    </head>
<body>

#parse("./game/includes/menu.vm")
	
<div class="container">

	<form action="saveLeague" method="post">
           
		
		<div class="form-group">
			<label>Név</label>
				#springBind("league.name")
				<input type="text" class="form-control" name="name" value="$!league.name" placeholder="Add meg a liga nevét!">
				#if($existingLeague) <div class="alert alert-danger" role="alert"> A liganév már foglalt! </div> #end
				#foreach($error in $status.errorMessages)<div class="alert alert-danger" role="alert"> $error </div> #end
		</div>
		<div class="form-group">
			<label>Leírás</label>
				#springBind("league.description")
				<input type="text" class="form-control" name="description" value="$!league.description" placeholder="Add meg a liga leírását!">
				#foreach($error in $status.errorMessages)<div class="alert alert-danger" role="alert"> $error </div> #end
		</div>					
				
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>

</body>
</html>