<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		#parse("./favicon.vm")
		<title>#springMessageText("**message.game.home**" "**message.game.home**")</title>
	</head>
<body>

#parse("./game/includes/menu.vm")

<div class="container">
	
	#if($successLogin)
        		
				<div class="container">
						<div class="alert alert-success" role="alert">#springMessageText("**message.game.home.success_login**" "**message.game.home.success_login**")</div>
				</div>
	#end
	
	#if($successRegistration)
        		
				<div class="container">
						<div class="alert alert-success" role="alert">#springMessageText("**message.game.home.success_registration**" "**message.game.home.success_registration**")</div>
				</div>
	#end
	
	#if($successNewPassword)
        		
				<div class="container">
						<div class="alert alert-success" role="alert">#springMessageText("**message.game.home.success_new_password**" "**message.game.home.success_new_password**")</div>
				</div>
	#end
	
	#if($successNewName)
        		
				<div class="container">
						<div class="alert alert-success" role="alert">#springMessageText("**message.game.home.success_new_name**" "**message.game.home.success_new_name**")</div>
				</div>
	#end
	
	<div class="jumbotron">
		
			<!-- log utan-->
			
			
			#if($loggedin)
				<div class="container">
					<h1>#springMessageText("**message.game.home.welcome_on_the_page_user**" "**message.game.home.welcome_on_the_page_user**") $userName!</h1>
					<a href="myTeam"><h3>#springMessageText("**message.game.home.your_team**" "**message.game.home.your_team**")</h3> </a>
				</div>
			#else
				<div class="container">
					<h1>#springMessageText("**message.game.home.welcome_on_the_page**" "**message.game.home.welcome_on_the_page**")</h1>
						<p>#springMessageText("**message.game.home.today_registration**" "**message.game.home.today_registration**")</p>
						<p>
							<a class="btn btn-primary btn-lg" href="registration" role="button">#springMessageText("**message.game.menu.registration**" "**message.game.menu.registration**")</a>
							<a class="btn btn-primary btn-lg" href="loginPage" role="button">#springMessageText("**message.game.menu.login**" "**message.game.menu.login**")</a>
						</p>
				</div>
			#end
			
			
	</div>
</div>


</body>
</html>
