<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>
			$league.name megtekintese
        </title>
    </head>
<body>

#parse("./game/includes/menu.vm")

	<a href="allLeagues">toplista</a> - <a href="myLeagues">sajat</a><br>
	
	
	<p></p>
	nev: $league.name<br>
	leiras: $league.description<br>
	admin: $league.creator.name<br>
	tagokszama: $league.numberOfUsers<br>
	atlagpontszam: $league.avgPoints<br>
	#if(!$isUserIn)
		<a href="joinToLeague&id=$league.id">csatlakozas a ligaba</a>
	#else
		<a href="leaveTheLeague&id=$league.id">kilepes a ligabol</a>
	#end
	
	<p>Tagok</p>


</body>
</html>