<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>
			Ligak
        </title>
    </head>
<body>

#parse("./game/includes/menu.vm")


<div class="container">
	
	<div>
		
		<a class="btn btn-primary" href="allLeagues">toplista</a> 
		#if($loggedin)
    		<a class="btn btn-primary" href="myLeagues">sajat</a>
    		<a class="btn btn-primary" href="createLeague">Liga letrehozasa</a>
		#end
		
	</div>
	
	
	
	<table class="table table-striped table-hover table-responsive">
		<thead>
		  <tr>
			<th>Név</th>
			<th>Leírás</th>
			<th>Játékosok</th>
			<th></th>
		  </tr>
		</thead>
		<tbody>
			#foreach($league in $leagues)
			  <tr>
				<td>$league.name</td>
				<td>$league.description</td>
				<td>$league.numberOfUsers</td>
				<td><a href="league&id=$league.id">liga megtekintese</a></td>				
			  </tr>
			 #end
		 </tbody>
	</table>
	
</div>


	

</body>
</html>