<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
		<title>
			$league.name
        </title>
    </head>
<body>
	
	#parse("./game/includes/menu.vm")
	
<div class="container">
	
	
	<div>
		$league.name<br>
    	$league.description<br>
    	#springMessageText("**message.game.league_statistic.created_by**" "**message.game.league_statistic.created_by**"): $league.creator.name<br>
    	#springMessageText("**message.game.league_statistic.number_of_user**" "**message.game.league_statistic.number_of_user**"): $league.numberOfUsers<br>
		#if($loggedin)
    		#if($league.creator.id == $userInSessionId)
    			<button class="btn btn-primary" onclick="showInviteUserDiv()">#springMessageText("**message.game.league_statistic.invite_user**" "**message.game.league_statistic.invite_user**")</button>
    		#elseif($isUserIn)
    			<button class="btn btn-primary" onclick="showInviteUserDiv()">#springMessageText("**message.game.league_statistic.invite_user**" "**message.game.league_statistic.invite_user**")</button>
				<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#confirmModal">
                          #springMessageText("**message.game.league_statistic.leave_the_league**" "**message.game.league_statistic.leave_the_league**")
                </button>
    		#else
    			<a class="btn btn-info" href="joinToLeague&id=$league.id">#springMessageText("**message.game.league_statistic.join_the_league**" "**message.game.league_statistic.join_the_league**")</a>
    		#end
    		<div id="inviteUser" style="display:none;">
    				<form action="searchByUserNameToInvite&leagueId=$league.id" method="post">
                		#springMessageText("**message.game.league_statistic.search_user**" "**message.game.league_statistic.search_user**") <input type="text" name="userName"></input>
                		<button type="submit" class="btn btn-primary">#springMessageText("**message.game.league_statistic.search**" "**message.game.league_statistic.search**")</button>
                    </form>	
    		</div>
		#end
	</div>
	<table class="table table-striped table-hover table-responsive">
		<thead>
		  <tr>
			<th>#springMessageText("**message.game.league_statistic.result**" "**message.game.league_statistic.result**")</th>
			<th>#springMessageText("**message.game.league_statistic.name**" "**message.game.league_statistic.name**")</th>
			<th>#springMessageText("**message.game.league_statistic.money**" "**message.game.league_statistic.money**")</th>
			<th>#springMessageText("**message.game.league_statistic.point**" "**message.game.league_statistic.point**")</th>
			#if($isAdmin)
				<th>#springMessageText("**message.game.league_statistic.action**" "**message.game.league_statistic.action**")</th>
			#end
		  </tr>
		</thead>
		<tbody>
			#foreach($user in $users)
			  <tr>
				<td>$velocityCount</td>
				<td>$user.name</td>
				<td>$user.actualMoney</td>
				<td>$user.actualPoint</td>		
				#if($isAdmin)
					<th>
					#if($user.id != $userInSessionId)
						<a href="kickUser&userId=$user.id&leagueId=$league.id">#springMessageText("**message.game.league_statistic.kick**" "**message.game.league_statistic.kick**")</a>
					#else
						#springMessageText("**message.game.league_statistic.you_are_the_admin**" "**message.game.league_statistic.you_are_the_admin**")
					#end
					</th>
				#end
			  </tr>
			 #end
		 </tbody>
	</table>
	
	
	
</div>
</body>
<script>
function showInviteUserDiv(){
	$( "#inviteUser" ).show();
}
</script>
#parse("./game/includes/confirmModalLeaveLeague.vm")
</html>