<html>
	<head>
		<title>
			Ligak
        </title>
    </head>
<body>
	<a href="allLeagues">toplista</a> - <a href="myLeagues">sajat</a><br>
	
	<p><a href="createLeague">Sajat liga letrehozasa</a></p>
	
	<p></p>
	#foreach($league in $leagues)
		$league.name - $league.description - $league.numberOfUsers - $league.avgPoints - 
				<a href="league&id=$league.id">liga megtekintese</a>
			<br>
	#end

</body>
</html>