<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		#parse("./favicon.vm")
		<title>
			#springMessageText("**message.game.leagues**" "**message.game.leagues**")
        </title>
    </head>
<body>

#parse("./game/includes/menu.vm")


<div class="container">
	
	<div>
		
		<a class="btn btn-primary" href="allLeagues">#springMessageText("**message.game.leagues.top**" "**message.game.leagues.top**")</a> 
		#if($loggedin)
    		<a class="btn btn-primary" href="myLeagues">#springMessageText("**message.game.leagues.my_leagues**" "**message.game.leagues.my_leagues**")</a>
    		<a class="btn btn-primary" href="createLeague">#springMessageText("**message.game.leagues.create_league**" "**message.game.leagues.create_league**")</a>
		#end
		
	</div>
	
	
	<div class=" table-responsive">
    	<table class="table table-striped table-hover">
    		<thead>
    		  <tr>
    			<th>#springMessageText("**message.game.leagues.name**" "**message.game.leagues.name**")</th>
    			<th>#springMessageText("**message.game.leagues.description**" "**message.game.leagues.description**")</th>
    			<th>#springMessageText("**message.game.leagues.user**" "**message.game.leagues.user**")</th>
    			<th></th>
    		  </tr>
    		</thead>
    		<tbody>
    			#foreach($league in $leagues)
    			  <tr>
    				<td>$league.name</td>
    				<td>$league.description</td>
    				<td>$league.numberOfUsers</td>
    				<td><a href="league&id=$league.id">#springMessageText("**message.game.leagues.view_league**" "**message.game.leagues.view_league**")</a></td>				
    			  </tr>
    			 #end
    		 </tbody>
    	</table>
	</div>
	
</div>


	

</body>
</html>