<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title></title>
		<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
		<script type="text/javascript"  src="./resources/js/login.js"></script>
	</head>
<body>

#parse("./game/includes/menu.vm")

	<div class="container">

		<form action="login" method="post">
		  <div class="form-group">
			<label>Felhasználónév</label>
				<input type="text" class="form-control" name="name" value="$!user.name" placeholder="Add meg a felhasználóneved!">
		  </div>
		  <div class="form-group">
			<label>Jelszó</label>
				<input type="password" class="form-control"  name="password" placeholder="Add meg a jelszavad!">
		  </div>
		  <button type="submit" class="btn btn-primary">Submit</button>
		</form>
			
			#if($notSuccessLogin)
				<div class="alert alert-danger" role="alert">Sikertelen bejelentkezés!</div>
			#end	
			
        	<div id="forgetPwOpenerDiv">
        		<button class="btn btn-primary" onclick="showForgetPasswordDiv()">Elfelejtettem a jelszavam!</button>
        	</div>
        	
        	<div class="form-group" id="forgetPasswordDiv" style="display:none;">
        		<label>Email cím </label>
				<span id="notValidEmail" style="color: red; display:none;">&nbsp nem megfelelo email</span>
					<input type="text" id="email" class="form-control"></input>
        		<button class="btn btn-primary" onclick="forgottenPassword()">Új jelszó igénylése</button>
        	</div>
        	
        	<div class="alert alert-info" role="alert" id="emailProcessing" style="display:none;">
        		email kuldes folyamatban par mp
        	</div>
        	<div class="alert alert-success" role="alert" id="emailSentOut" style="display:none;">
        		email kikuldve
        	</div>
        	<div class="alert alert-danger" role="alert" id="emailFail" style="display:none;">
        		email kuldes sikertelen
        	</div>
	</div>
	
	
	
</body>
</html>