<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>#springMessageText("**message.game.my_team**" "**message.game.my_team**")</title>
		#parse("./game/includes/favicon.vm")
	</head>
<body>

	#parse("./game/includes/menu.vm")

	#parse("./game/includes/userStatistics.vm")

	<div class="container table-responsive">
    	<h3>#springMessageText("**message.game.my_team.statistics**" "**message.game.my_team.statistics**")</h3>
    	<table class="table table-striped table-hover">
    		<thead>
    		  <tr>
    			<th>#springMessageText("**message.game.my_team.track**" "**message.game.my_team.track**")</th>
    			<th>#springMessageText("**message.game.my_team.point**" "**message.game.my_team.point**")</th>
    			<th>#springMessageText("**message.game.my_team.result**" "**message.game.my_team.result**")</th>
				<th>#springMessageText("**message.game.my_team.d1**" "**message.game.my_team.d1**")</th>
    			<th>#springMessageText("**message.game.my_team.d2**" "**message.game.my_team.d2**")</th>
				<th>#springMessageText("**message.game.my_team.t1**" "**message.game.my_team.t1**")</th>
    			<th>#springMessageText("**message.game.my_team.t2**" "**message.game.my_team.t2**")</th>
				<th>#springMessageText("**message.game.my_team.t3**" "**message.game.my_team.t3**")</th>
    		  </tr>
    		</thead>
    		<tbody>
    			#foreach($urh in $urhList)
    			  <tr>
    				<td>$urh.race.track.name</td>
    				<td>$urh.point</td>
    				<td>$urh.position</td>
					<td>$!urh.driver1.name</td>
					<td>$!urh.driver2.name</td>
					<td>$!urh.team1.name</td>
					<td>$!urh.team2.name</td>
					<td>$!urh.team3.name</td>
				  </tr>
    			 #end
    		</tbody>
    	</table>
	
	</div>
	
</body>
</html>