<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>#springMessageText("**message.game.new_password**" "**message.game.new_password**")</title>
	</head>
<body>

#parse("./game/includes/menu.vm")

	
	<div class="container">
		
    	#if($isPasswordSame)
    		<div class="alert alert-danger" role="alert">#springMessageText("**message.game.new_password.wrong_passwords**" "**message.game.new_password.wrong_passwords**")</div>
    	#end
    	
        <form action="saveNewPassword" method="post">
    		
    		<input type="text" style="display: none;" name="id" value="$!user.id"></input>
    		<input type="text" style="display: none;" name="name" value="$!user.name"></input>
    		<input type="text" style="display: none;" name="email" value="$!user.email"></input>
    		
    		<div class="form-group">
    			<label>#springMessageText("**message.game.new_password.pw1**" "**message.game.new_password.pw1*")</label>
    				#springBind("user.password")
    				<input type="password" class="form-control" name="password"></input>
    				#foreach($error in $status.errorMessages)<div class="alert alert-danger" role="alert"> $error </div> #end
    		 </div>
    		 
    		<div class="form-group">
    			<label>#springMessageText("**message.game.new_password.pw2**" "**message.game.new_password.pw2**")</label>
    				#springBind("user.passwordAgain")
    				<input type="password" class="form-control" name="passwordAgain"></input>
    				#foreach($error in $status.errorMessages)<div class="alert alert-danger" role="alert"> $error </div> #end
    		</div>
        	
    		 <button type="submit" class="btn btn-primary">#springMessageText("**message.save**" "**message.save**")</button>
        </form>	
	</div>
</body>
</html>