<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title></title>
	</head>
<body>

#parse("./game/includes/menu.vm")

new password form<br>
	
	#if($isPasswordSame)
		<p>A jelszavak nem egyeznek!</p>
	#end
	
    <form action="saveNewPassword" method="post">
		
		<input type="text" style="display: none;" name="id" value="$!user.id"></input>
		<input type="text" style="display: none;" name="name" value="$!user.name"></input>
		<input type="text" style="display: none;" name="email" value="$!user.email"></input>
		
		#springBind("user.password")
    	password<input type="text" name="password"></input>
    	#foreach($error in $status.errorMessages) $error #end<br>
			
		#springBind("user.passwordAgain")
    	password again<input type="text" name="passwordAgain""></input>
		#foreach($error in $status.errorMessages) $error #end<br>
    	
		<input type="submit" value="save"></input>
    </form>	
</body>
</html>