<html>
	<head>
		<title></title>
	</head>
<body>
registration form<br>
	
	#if($isPasswordSame)
		<p>A jelszavak nem egyeznek!</p>
	#end
	
	#if($existEmail)
		<p>Az e-mail cím már foglalt!</p>
	#end
	
	#if($existName)
		<p>A név már foglalt!</p>
	#end
	
    <form action="saveUser" method="post">
		
     	#springBind("user.name")
    	name<input type="text" name="name" value="$!user.name"></input> #if($existingUser) A usernév már foglalt! #end
    	#foreach($error in $status.errorMessages) $error #end<br>
			
    	#springBind("user.email")
    	email<input type="text" name="email" value="$!user.email"></input>
    	#foreach($error in $status.errorMessages) $error #end<br>
				
		#springBind("user.password")
    	password<input type="text" name="password"></input>
    	#foreach($error in $status.errorMessages) $error #end<br>
			
		#springBind("user.passwordAgain")
    	password again<input type="text" name="passwordAgain""></input>
		#foreach($error in $status.errorMessages) $error #end<br>
    	
		<input type="submit" value="save"></input>
    </form>	
</body>
</html>