<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>#springMessageText("**message.teams**" "**message.teams**")</title>
		#parse("./game/includes/favicon.vm")
	</head>
<body>

#parse("./game/includes/menu.vm")

<div class="container table-responsive">
	
	<table class="table table-striped table-hover">
		<thead>
		  <tr>
			<th>#springMessageText("**message.game.teams.name**" "**message.game.teams.name**")</th>
			<th>#springMessageText("**message.game.teams.point**" "**message.game.teams.point**")</th>
			<th>#springMessageText("**message.game.teams.price**" "**message.game.teams.price**")</th>
		  </tr>
		</thead>
		<tbody>
			#foreach($team in $teams)
			  <tr>
				<td>$team.name</td>
				<td>$team.point</td>
				<td>$team.price $</td>
			  </tr>
			 #end
		</tbody>
	</table>
	
</div>

	
</body>
</html>
