<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		#if($invite)
    		<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    		<script type="text/javascript"  src="./resources/js/inviteUserToLeague.js"></script>
		#end
		<title>#springMessageText("**message.game.menu.users**" "**message.game.menu.users**")</title>
		#parse("./favicon.vm")
	</head>
<body>

#parse("./game/includes/menu.vm")

<div class="container">
	
	#if($invite != "true")
    	<form action="searchByUserName" method="post">
    		#springMessageText("**message.game.users.search_user**" "**message.game.users.search_user**")<input type="text" name="userName"></input>
    		<button type="submit" class="btn btn-primary">#springMessageText("**message.game.users.search**" "**message.game.users.search**")</button>
        </form>	
	#end
	<div class="table-responsive">
    	<table class="table table-striped table-hover">
    		<thead>
    		  <tr>
    			<th>#springMessageText("**message.game.users.result**" "**message.game.users.result**")</th>
    			<th>#springMessageText("**message.game.users.name**" "**message.game.users.name**")</th>
    			<th>#springMessageText("**message.game.users.point**" "**message.game.users.point**")</th>
    			<th>#springMessageText("**message.game.users.money**" "**message.game.users.money**")</th>
    			#if($invite)
    				<th>#springMessageText("**message.game.users.invite**" "**message.game.users.invite**")</th>
    			#end
    		  </tr>
    		</thead>
    		<tbody>
    			#foreach($user in $users)
    			  <tr>
    				<td>$user.actualPosition</td>
    				<td><a href="user&id=$user.id">$user.name</a></td>
    				<td>$user.actualPoint</td>
    				<td>$user.actualMoney</td>
    				#if($invite)
    					<th>
    						<button id="inviteButton$velocityCount" class="btn btn-primary" onclick="inviteUser($leagueId,$user.id,'$userInSessionName',$velocityCount)">#springMessageText("**message.game.users.invite**" "**message.game.users.invite**")</button>
    						<div id="invitedDiv$velocityCount" style="display:none;"> #springMessageText("**message.game.users.invited**" "**message.game.users.invited**")</div>
    					</th>
    				#end
    			  </tr>
    			 #end
    		</tbody>
    	</table>
	</div>
	#if($pagination)
    	<nav>
    	  <ul class="pagination">
    		<li>
    		  <a href="users&page=$previousPageNumber" aria-label="Previous">
    			<span aria-hidden="true">&laquo;</span>
    		  </a>
    		</li>
    			#foreach($i in [1..$numberOfPages])
    				<li><a href="users&page=$i">$i</a></li>
    			#end
    		<li>
    		  <a href="users&page=$nextPageNumber" aria-label="Next">
    			<span aria-hidden="true">&raquo;</span>
    		  </a>
    		</li>
    	  </ul>
    	</nav>
	#end
	
</div>
	
	
</body>
</html>
