welcome<br>
	
	#if($successLogin)
		<p>Sikeres bejelentkezés!</p>
	#end
	
	#if($accountActivated)
		<p>Az accountod sikeresen aktiváltad!</p>
	#end
	
	#if($firstLogin)
		<p>Előbb jelentkezz be!</p>
	#end
	
<a href="registration">regisztracio</a><br>
<a href="loginPage">bejelentkezes</a><br>
<a href="myTeam">csapatom</a><br>
<a href="allLeagues">ligak</a><br>
<a href="results">tabella</a><br>
<a href="drivers">pilotak</a><br>
<a href="teams">csapatok</a><br>
<a href="rules">szabalyzat</a><br>
<a href="logout">kijelentkezés</a><br>
